* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;

  display: flex;
}
.left {
  width: 40%;
  height: 100%;
  position: relative;
}
.left .textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textcenter h1 {
  font-size: 80px;
  font-weight: 900;
}
.textcenter p {
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.textcenter a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
}
.lnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}
.lnavR a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.lnavR i {
  color: rgb(2, 183, 255);
}
.lnavR {
  display: flex;
  align-items: center;
}

.right {
  width: 60%;
  height: 100%;
  background-color: aliceblue;
}
.rtop {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: blue;
}
.rbottom {
  width: 100%;
  height: 50%;
  background-image: url(../dust-img/vibrant-orange-close-up.png);
  background-position: center;
  background-size: cover;
}
.rtopleft {
  width: 55%;
  height: 100%;
  background-image: url(../dust-img/fruit-orange.png);
  background-position: center;
  background-size: cover;
}
.rtopright {
  width: 45%;
  height: 100%;
  background-color: rgb(179, 6, 136);
  background-image: url(../dust-img/-orange-juice-food.png);

  background-position: center;
  background-size: cover;
}

@media(max-width:500px){
    #main{
        flex-direction: column;
    }
    #main .left{
        width: 100%;
    }
    #main .right{
        width: 100%;
    }

}